<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <h7 class="inputname">Name</h7>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <h7 class="inputimage">Image</h7>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
        <div class="form-group">
          <h7 class="inputIntroduction">Introduction</h7>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update User",class: "btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>



