<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/info', user:current_user %>
      <%= render 'layouts/body', book:@book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user) %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
