<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'layouts/info', user:@book.user %>
      <%= render 'layouts/body', book:@booknew %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to user_path(@book.user) do %><%= image_tag @book.user.get_profile_image(100,100) %>
              <p><%= link_to @book.user.name, user_path(@book.user) %></p>
            <% end %></td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <td><% if current_user.id == @book.user_id %>
                  <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
                  <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger" , "data-confirm" => "本当に削除しますか？"%>
            </td><% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

